/**
 * What is this SCSS for?
 *
 * Any CSS that isn't critical to the intial load of your website will be
 * deferred until after your web page has fully finished loading.
 *
 * @credit
 * https://github.com/chris-pearce/css-guidelines
 */

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// !! Added to Critical: @include foundation-global-styles;
// !! Added to Critical: @include foundation-grid;
// !! Added to Critical: @include foundation-flex-grid;
// !! Added to Critical: @include foundation-xy-grid-classes;
// !! Added to Critical: @include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
// !! Added to Critical: @include foundation-accordion;
@include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// !! Added to Critical: @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
// @include foundation-responsive-embed;
@include foundation-label;
// @include foundation-media-object;
@include foundation-off-canvas;
// @include foundation-orbit;
@include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
@include foundation-table;
// !! Added to Critical: @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// !! Added to Critical: @include foundation-visibility-classes; 
// @include foundation-float-classes;
@include foundation-flex-classes;

@include foundation-prototype-classes;

// @include motion-ui-transitions;
// @include motion-ui-animations;

// !! Added to Critical: @import 'shared/mixins';
// !! Added to Critical: @import 'shared/icons';
@import 'shared/mixins';
@import 'shared/default';
@import 'shared/fonts';
@import 'shared/helpers';
@import 'shared/containers';
@import 'shared/typography';
@import 'shared/forms';
@import 'shared/slick';
@import 'shared/carousel-card';
@import 'shared/card';
@import 'shared/icon-card';
@import 'shared/pathway-card';
@import 'shared/select2';
@import 'shared/sidebar';
@import 'shared/sidebar-accordion';
@import 'shared/popup';
@import 'shared/listing-contact';
@import 'shared/listing-info';
@import 'shared/listing-maps';
@import 'shared/pagination';

// !! Added to Critical: @import 'components/header';
// !! Added to Critical: @import 'components/hero';
// !! Added to Critical: @import 'components/navigation';
@import 'components/footer';
@import 'components/grid';
@import 'components/highlight';
@import 'components/halfbox';
@import 'components/accordion-tabs';
@import 'components/data-table';
@import 'components/data-list';
@import 'components/carousel';

@import 'components/blocks/block';
@import 'components/blocks/block-accordion-tabs';
@import 'components/blocks/block-halfbox';
@import 'components/blocks/block-html-content';
@import 'components/blocks/block-highlight';
@import 'components/blocks/block-grid-pathways';
@import 'components/blocks/block-grid-feature';
@import 'components/blocks/block-grid-logos';
@import 'components/blocks/block-code-embed';
@import 'components/blocks/block-data-list';
@import 'components/blocks/block-data-table';
@import 'components/blocks/block-image-gallery';
@import 'components/blocks/block-image-carousel';
@import 'components/blocks/block-content-slider';
@import 'components/blocks/block-call-to-action';
@import 'components/blocks/block-grid-related-articles';
@import 'components/blocks/block-sign-up';
@import 'components/blocks/block-icon';
@import 'components/blocks/block-property';
@import 'components/blocks/block-for-sale';
@import 'components/blocks/block-property-listing';
@import 'components/blocks/block-map';
@import 'components/blocks/block-contact-details';
@import 'components/blocks/block-blog';

@import "components/thirdparty/fancybox/core";
@import "components/thirdparty/fancybox/fullscreen";
@import "components/thirdparty/fancybox/share";
@import "components/thirdparty/fancybox/slideshow";
@import "components/thirdparty/fancybox/thumbs";
