.footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;
    background: $red;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 20px;
        display: block;
        background: url("../images/png/header-border.png");
        background-repeat: repeat-x;
        background-size: cover;
        background-position: bottom;
    }

    a:focus {
        outline: auto;
    }

    &__copyright {
        margin-bottom: 30px;

        a {
            margin-bottom: 5px;

            &:hover {
                color: $black;
            }
        }

        p,
        a {
            color: $white;
            font-size: 15px;
        }
    }

    &__links {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            list-style: none;
            list-style-type: none;

            a {
                color: $white;
                border-right: 1px solid $white;
                display: inline-block;
                font-size: 15px;
                padding-right: 10px;
                margin-right: 10px;
                margin-bottom: 5px;
            }

            a:hover {
                color: $black;
            }

            &:last-child a {
                border-right: 0;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }

    &__locations .location {
        color: $white;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
    }

    &__logo {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 100px;

        .logo img {
            width: 160px;
            max-width: 100%;
        }
    }

    @include breakpoint(large) {
        padding-bottom: 50px;

        &__locations {
            display: flex;
            flex-wrap: wrap;
            margin-top: 90px;

            .location {
                margin-right: 25px;
                margin-bottom: 0;
            }

            .location:last-child {
                margin-right: 0;
            }
        }

        &__logo {
            margin-top: 90px;
        }

        &__links {
            li a {
                margin-bottom: 0;
            }
        }
    }
}
