.block-code-embed {
    .embed-wrapper {
        position: relative;
        //width: 840px;
        width: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        &:before {
            content: '';
            width: 100%;
            display: block;
            padding-top: 56.25%;
        }

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }
}
